.rules-field label {
	display: block;
}
.rules-field input[type=text],
.rules-field select,
.rules-field textarea {
	display: block;
	margin: 1em 0;
	padding: 0.3em 1.5em 0.3em 0.5em;
	width: 100%;
}
#rule_condition_add,
#rule_action_add_button{
	float: right;
}
.rule-condition-container,
.rule-action-container{
	display: inline-flex;
	margin-right: 1em;
	margin-bottom: 2em;
	background-color: #efefef;
	padding: 1em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #007cba;
}
#rule_conditions_container,
#rule_actions_container{
	min-height: 2em;
}
.inverted-field {
	padding-top: 1em;
	margin-bottom: 1em;
	border-top: 1px solid #f3f3f3;
}
#rules_variables .inside{
	max-height: 20rem;
	overflow: scroll;
}
#rules_logs .inside {
	max-height: 20rem;
	overflow-y: scroll;
}
#rules_logs .rules-field-tablekeyvalue {
	background-color: #efefef;
	margin-bottom: 1em;
}
#rules_logs .rules-field-tablekeyvalue th{
	text-align: left;
}
.rules-field-helper{
	padding: 1em;
	background-color: #ffffba;
	color: green;
	margin-bottom: 1em;
	font-weight: bold;
	max-width: fit-content;
}
